<h1 class="animated fadeIn">{{heroe.nombre | uppercase}} <small>fecha de aparicion - ({{heroe.aparicion | date:'y'}})</small></h1>
	<hr>
	<div class="row fadeIn fast" >
		<div class="col-md-4">
			<img [src]="heroe.img" class="img-fluid" [alt]="heroe.nombre">
			<br><br>
			<a [routerLink]="['/heroes']" class="btn btn-outline-danger btn-block">Regresar</a>
		</div>
		<div class="col-md-8">
			<h3>Acerca de {{heroe.nombre}}</h3>
			<hr>
			<p>Bio del heroe {{heroe.bio}}</p>
			<div>
				<img *ngIf="heroe.casa === 'Marvel'" class="img_logo" src="assets/img/Marvel_logo.png" alt="">
				<img *ngIf="heroe.casa === 'DC'" class="img_logo" src="assets/img/DC_logo.png" alt="">
			</div>
		</div>
	</div>	
